.container , .row{
    width: 100%;
}
.col1, .col2 , .col3{
    width: 25.333333%;
    margin: 1%;
    padding: 1%;
    float: left;
}
.row::before, row::after{
    display: table;
    content: "";
}
.row::after{
    clear: both;
}